$color: #252525; // bg-dark-gray
$color2: #e6af2a; // bg-yellow
$color3: #70bd5b; // bg-green
$color4: #c24742; // bg-orange
$color5: #f6f6f6; // bg-gray
$color6: #f4f4f4; // gris-claro
$color-blanco: #ffffff; // blnaco