$color: #252525; // bg-dark-gray rgba(37, 37, 37, 100) -
$color2: #e6af2a; // bg-yellow rgba(230, 175, 42, 100) -
$color3: #B2C3BD; // bg-green rgba(112, 189, 91, 100) -
$color4: #c24742; // bg-orange rgba(194, 71, 66, 100) -
$color5: #f6f6f6; // bg-gray rgba(246, 246, 246, 100) -
$color6: #f4f4f4; // gris-claro
$color7: #ADC1BF;
$color-blanco: #ffffff; // blnaco

