/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";

$color: red;

@import "animate";
@import "bootstrap";
@import "et-line-icons";
@import "font-awesome.min";
@import "extralayers";
@import "settings";
@import "magnific-popup";
@import "owl.carousel";
@import "owl.transitions";
@import "full-slider";
@import "text-effect";
@import "style";
@import "responsive";
@import "colores";
@import "variables";

.flext {
	display: flex;
}
.fashion-subtitle {
	width: auto !important;
}
#contact-us textarea {
    min-height: 224px !important;
}
.quehago .text-med {
	font-size: 16px !important;
    line-height: 28px !important;
    color: $color !important;
}
.quehago img {
	@include border-radius(2px);
}
#paginassencillas {
	.bg-black{
		background: $color-blanco !important;
	}
	h1, p, a {
	color: $color-blanco !important;
	}
	.highlight-button-black-border {
		border: $color-blanco !important;
	}
	a:hover{
		color: $color4 !important;
	}
}