/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$color: red;

@import "animate";
@import "bootstrap";
@import "et-line-icons";
@import "font-awesome.min";
@import "extralayers";
@import "settings";
@import "magnific-popup";
@import "owl.carousel";
@import "owl.transitions";
@import "full-slider";
@import "text-effect";
@import "style";
@import "responsive";
@import "colores";
@import "variables";
.flext {
	display: flex;
}
.fashion-subtitle {
	width: auto !important;
}

